<div  class="card" style="display:inline-block">
    <img class="mobile-img" src="assets/sony.jpg">
    <div class="card-container">
        <h4><b>Sony</b></h4>
        <p>Rs 14000</p>
        <ul>
            <li>
                Snapdragon Processor
            </li>
            <li>
                2k Display
            </li>
            <li>
                Snapdragon Processor
            </li>
            <li>
                2k Display
            </li>
        </ul>
    </div>
    <div style="text-align: right; margin: 10px;">
        <button class="btn info" >Buy</button>
    </div>
</div>